/* Primary style for my page templates: colours layout and font style*/
/* modified from w3schools.com - CSS*/
/* front from per W3S */

/* base colour for all web pages */
body {
  background-color: LightBlue;
 }

/* master header format, colour and font*/
.header {
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  text-align: center;
  margin: 5px;
  font-family: impact;
  font-size: 25px;
  
}


/* navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
  margin: 5px;
  opacity: .5;
}

/* navigation links */
.topnav a {
	font-family: 'Aleo';
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}
/* nav icons change colour when mouse arrow hovers */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* placement for image on index page */
aside {
  float: left;
 } 

/* formatting for lists used on all pages */
ul.b {
  list-style-type: none;
  font-family: 'Aleo';
  text-align:center;
}

/* formatting for text/box on index page */
article {
  float: right;
  padding: 20px;
  width: 70%;
  background-color: Gainsboro;
  height: 460px; 
  font-size: 20px;
}

/* formatting for text/box on background page: education */
.column1 {
  float: left;
  width: 50%;
  padding-bottom: 75px;
  font-size: 18px;
  text-align:center;
}

/* formatting for text/box on background page: work */
.column2 {
  float: left;
  width: 50%;
  padding-bottom: 75px;
  font-size: 18px;
  text-align:center;
}

/* formatting for text/box on contact page */
.column3 {
  float: left;
  width:100%;
  padding-bottom: 75px;
  font-size: 18px;
  text-align:center;
}

/* formatting for after columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.footer a {
  background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
